@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    padding: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    color: black;
    background-color: #b5cf66;
    padding-left: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.two-by-two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
}

.recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

header{
    background-color: #ff5a34;
    font-family: 'Roboto Condensed', sans-serif;
}

.main_page_link {
    color: white;
}

a:link {
    text-decoration: none;
}

h1 {
    color: #146152;
}

.h3_anchor {
    color: #44803f;
    font-weight: bold;
}

.table_element tr:nth-child(2n + 2) {
    background-color: #e5e5e5;
}
